You can leave the rank field empty if you want the page to be the last item.
<br><br>
{{ form_start(form, {
    'attr': {'id': 'addModule'}
}) }}
{{ form_widget(form) }}
<!--<div class="btn-group btn-group-lg" role="group" style="float: left">
    <button type="submit" class="btn btn-primary" formnovalidate>Add</button>
</div>-->
{{ form_end(form) }}