{% extends 'dashboard/menubar.html.twig' %}

{% block title %}VDP{{ version }} Admin{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 60px; margin-bottom: 20px;" id="vaster-user-administration" data-orange-hat-path="{{ asset('images/orange-hat.png') }}">

        <div id="loading">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>

        </div>


        <div class="panel-body">
            <div id="header-fixed">
                <table class="table sortableTable" style="margin-bottom: 0; box-shadow: 0 -12px 35px 5px black;"></table>
            </div>
            <table class="table table-striped table-hover sortableTable" id="usersTable" style=" table-layout:fixed;">
                <thead>
                <tr>
                    <th class="First-Name fnameColumn">
                        <a href="#">First Name<span></span></a>
                    </th>
                    <th class="Last-Name lnameColumn">
                        <a href="#">Last Name<span></span></a>
                    </th>
                    <th style=" width: 45px;" class="Phone phoneColumn">
                        <a href="#">Phone<span></span></a>
                    </th>
                    <th class="Email emailColumn">
                        <a href="#">Email<span></span></a>
                    </th>
                    <th style=" width: 60px;" class="Created-Date createdColumn">
                        <a href="#">Created Date<span class="caret"></span></a>
                    </th>
                    <th style=" width: 40px;" class="Type typeColumn">
                        <a href="#">Type<span></span></a>
                        </th>
                    <th style=" width: 50px;" class="Orange-Hat orgColumn">
                        <a href="#">Orange Hat<span></span></a>
                    </th>
                    <th style=" width: 40px;" class="OS osColumn">
                        <a href="#">OS<span></span></a>
                    </th>
                    <th style=" width: 60px;" class="Last-Seen lastSeenColumn">
                        <a href="#">Last Seen<span></span></a>
                    </th>
                    <th style=" width: 40px;">Location</th>
                </tr>
                </thead>
                <tbody id="ajaxTbody"></tbody>
            </table>


        </div>

    </div>

    <style>
        .up{
            content: "";
            border-top: 0;
            border-bottom: 4px dashed;
            border-bottom: 4px solid\9;
        }
        .id, #loading{
            display: none;
        }
        #loading{
            display: none;
            position: fixed;
            top: 40px;
            width: 100%;
            padding-right: 60px;
            background-color: rgba(255, 255, 255, 0.62);
            z-index: 10;
        }
        #header-fixed {
            position: fixed;
            top: 50px;
            display:none;
            background-color:white;
            width: 100%; padding-right: 60px;
         }
        th, td{
            width: 100px;
            border-left: 1px solid #ddd;
        }
        .sk-folding-cube {
            margin: 20px auto;
            width: 40px;
            height: 40px;
            position: relative;
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }

        .sk-folding-cube .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
        .sk-folding-cube .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        .sk-folding-cube .sk-cube2 {
            -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
        }
        .sk-folding-cube .sk-cube3 {
            -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
        }
        .sk-folding-cube .sk-cube4 {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
        }
        .sk-folding-cube .sk-cube2:before {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
        .sk-folding-cube .sk-cube3:before {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }
        .sk-folding-cube .sk-cube4:before {
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }
        @-webkit-keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0;
            } 25%, 75% {
                  -webkit-transform: perspective(140px) rotateX(0deg);
                  transform: perspective(140px) rotateX(0deg);
                  opacity: 1;
              } 90%, 100% {
                    -webkit-transform: perspective(140px) rotateY(180deg);
                    transform: perspective(140px) rotateY(180deg);
                    opacity: 0;
                }
        }

        @keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0;
            } 25%, 75% {
                  -webkit-transform: perspective(140px) rotateX(0deg);
                  transform: perspective(140px) rotateX(0deg);
                  opacity: 1;
              } 90%, 100% {
                    -webkit-transform: perspective(140px) rotateY(180deg);
                    transform: perspective(140px) rotateY(180deg);
                    opacity: 0;
                }
        }


        .search-result-box{
            margin-bottom: 5px;
            padding: 5px 10px;
            border: 1px solid #e8e8e8;
            border-radius: 3px;
        }

        .search-result-box hr{
            margin: 5px 0;
            border-color: #c9c9c9;
        }

        .search-result-box .title{
            font-weight: bold;
            font-size: 16px;
            color: #3479b7;
        }
        #item-fixed {
            position: absolute;
            top: 0;
            right: 0;
            display:none;
            background-color:white;
            width: 100%; padding-right: 60px;
        }

        .modal-lg {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .modal-lg.modal-content {
            height: auto;
            border-radius: 0;
        }

        #userModal {
            padding: 20px !important;
        }

        #usersTable tbody tr, #modal-searches-table tbody tr{
            cursor: pointer;
        }


        .editable:hover:after {
            display: block;
        }
        .editable:after {
            content: 'edit';
            float: right;
            margin-right: 5px;
            display: none;
        }
        .editable:hover {
            color: #008bd2 !important;
            border-right: 1px solid #008bd2;
        }
        .editable {
            width: 50%;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block bot_navBar %}

    <nav class="navbar navbar-inverse navbar-fixed-bottom">

        <div class="dropup" id="limit-dropup" style=" float: left; margin: 7px 0 0 7px;">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong id="limit-text">50</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="limitNumber"><a href="#">25</a></li>
                <li class="limitNumber disabled"><a href="#">50</a></li>
                <li class="limitNumber"><a href="#">100</a></li>
                <li class="limitNumber"><a href="#">200</a></li>
            </ul>
        </div>



        <div class="dropup" style=" float: right; margin: 7px 50px 0 0;">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong id="limit-text">Stat</strong>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" style=" padding: 0;">
                <li id="totalUsers" style=" padding: 0 8px;" class="label-success">0</li>
                <li id="totalORG" style=" padding: 0 8px;" class="label-warning">0</li>
                <li id="totalInternal" style=" padding: 0 8px;" class="label-info">0</li>
                <li id="android" style=" padding: 0 8px;" class="label-primary">0</li>
                <li id="ios" style=" padding: 0 8px;" class="label-danger">0</li>
            </ul>
        </div>

        <div id="internalToggle" class="toggle toggle-light" style="float: right; margin: 16px 8px 16px 8px;"></div>

        <div class="input-group" style=" float: left; width: 185px; margin: 8px;" id="searchBar">
<!-- here -->
            <input id="keyword" title="search" type="text" class="form-control" aria-label="search" style=" height: 33px;">
            <div class="input-group-btn dropup">

                <button id="search" type="button" class="btn btn-default" style=" height: 33px;"><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" class="btn btn-default dropup dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" height: 33px;">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" id="searchType">
                    <li class="active"><a href="#" data-search="contains">Contains</a></li>
                    <li><a href="#" data-search="starts">Starts With</a></li>
                    <li><a href="#" data-search="ends">Ends With</a></li>
                    <li><a href="#" data-search="exact">Exactly</a></li>
                </ul>
            </div>
        </div>

        <div class="container" style="text-align: center;">

            <nav aria-label="Page navigation">
                <ul class="pagination" id="pagination" style=" margin-top: 7px; margin-bottom: 3px;">
                    <li id="prev">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li id="next">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>


    </nav>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}

{% block modals %}

    <div class="modal fade" tabindex="-1" id="userModal" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span id="modal-title"></span></h4>
                </div>
                <div class="modal-body">
                    <div id="user-update-hidden-from" style="display: none;"></div>

                    <div class="row" style=" margin-bottom: 15px;">

                        <div class="col-md-3">
                            <img id="modal-profile" src="" style=" height: 150px; float: left; box-shadow: 0 0 25px -10px black;" />
                        </div>

                        <div class="col-md-3">
                            <div>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <strong id="modal-first-name"></strong> <strong id="modal-last-name"></strong>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                <span id="modal-email"></span>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                +<span id="modal-phone"></span>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                <strong>Created</strong> <span id="modal-created-time"></span>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                <strong>Last</strong> <span id="modal-last-seen"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div>
                                <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                                <strong id="modal-user-id"></strong>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <strong>Using</strong> <span id="modal-device"></span>
                            </div>
                            <div class="editable" data-title="User Type" >
                                <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
                                <span id="modal-type" data-connetToForm="vaster_bundle_user_update_accounttype"></span>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                <span id="modal-balance"></span>
                            </div>
                            <div>
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                <span id="modal-available"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <img id="modal-cover" src="" style=" height: 150px; float: right; box-shadow: 0 0 25px -10px black;" />
                        </div>

                    </div>

                    <div class="row" style=" margin-bottom: 15px;">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="tab-buttons">
                                <li id="tab-orange-hat-button" role="presentation" class="active"><a href="#">Orange Hat</a></li>
                                <li id="tab-locations-button" role="presentation"><a href="#">Locations</a></li>
                                <li id="tab-searches-button" role="presentation"><a href="#">Searches</a></li>
                                <li id="tab-transactions-button" role="presentation"><a href="#">Transactions</a></li>
                                <li id="tab-stats-button" role="presentation"><a href="#">Stats</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" id="tab-orange-hat">
                        <div class="col-md-6">

                            <div class="well" style=" margin-bottom: 5px; padding: 5px 10px;">
                                <div><strong>Profession Name:</strong> <span id="modal-profession-name"></span></div>
                                <div><strong>Title:</strong> <span id="modal-user-title"></span></div>
                                <div><strong>Expertise:</strong> <span id="modal-expertise"></span></div>
                                <div><strong>Gender:</strong> <span id="modal-gender"></span> </div>
                                <div><strong>About:</strong> <span id="modal-about"></span></div>
                            </div>

                            <div class="well" style=" margin-bottom: 5px; padding: 5px 10px;">
                                <div><strong>Address:</strong> <span id="modal-address"></span></div>
                                <div><strong>City:</strong> <span id="modal-city"></span></div>
                                <div><strong>Region:</strong> <span id="modal-region"></span></div>
                                <div><strong>Country:</strong> <span id="modal-country"></span></div>
                                <div><strong>Postal Code:</strong> <span id="modal-postal-code"></span></div>
                            </div>

                            <div class="well" style=" margin-bottom: 5px; padding: 5px 10px;">
                                <div><strong>First Language:</strong> <span id="modal-lang1"></span></div>
                                <div><strong>Second Language:</strong> <span id="modal-lang2"></span></div>
                                <div><strong>Other Languages:</strong> <span id="modal-lang-other"></span></div>
                            </div>

                            <div class="well" style=" margin-bottom: 5px; padding: 5px 10px;">
                                <div><strong>Website:</strong> <span id="modal-website"></span></div>
                                <div><strong>Social Networks:</strong> <span id="modal-network"></span></div>
                            </div>

                            <div><strong>Ranking:</strong> <span id="modal-ranking"></span></div>
                            <div><strong>Votes:</strong> <span id="modal-votes"></span></div>
                        </div>

                        <div class="col-md-6">

                            <div class="well" style=" margin-bottom: 5px; padding: 5px 10px;">
                                <div><strong>Commission:</strong> <span id="modal-commission"></span></div>
                                <div><strong>Service Rate:</strong> <span id="modal-rate"></span></div>
                            </div>

                            <div>
                                <span id="modal-service-time-span" style="color: rgb(165, 165, 165); font-weight: normal;">no data for service time</span>
                                <table id="modal-service-time-table" class="table table-striped table-hover" style=" margin-top: 15px;" >
                                    <thead>
                                    <tr>
                                        <th><span>Day</span></th>
                                        <th><span>Start Time</span></th>
                                        <th><span>End Time</span></th>
                                        <th><span>Availability</span></th>
                                    </tr>
                                    </thead>
                                    <tbody id="service-time"></tbody>
                                </table>
                            </div>
                            <div><strong>Home Location:</strong> <span id="modal-home"></span></div>
                        </div>

                    </div>


                    <div class="row" id="tab-locations" style="display: none;">
                        <div class="col-md-12" style=" overflow-y: scroll; max-height: 350px;">

                            <div>
                                <span id="modal-location-span" style="color: rgb(165, 165, 165); font-weight: normal;">no data</span>
                                <table id="modal-location-table" class="table table-striped table-hover" style=" margin-top: 15px;" >
                                    <thead>
                                    <tr>
                                        <th><span>Time</span></th>
                                        <!--<th><span>Reason</span></th>-->
                                        <th><span>Latitude</span></th>
                                        <th><span>Longitude</span></th>
                                        <th><span>Map</span></th>
                                    </tr>
                                    </thead>
                                    <tbody id="modal-location"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="row" id="tab-searches" style="display: none;">
                        <div class="col-md-6" style=" overflow-y: scroll; max-height: 350px;">

                            <div>
                                <span id="modal-searches-span" style="color: rgb(165, 165, 165); font-weight: normal;">no data</span>
                                <table id="modal-searches-table" class="table table-striped table-hover" style=" margin-top: 15px;" >
                                    <thead>
                                    <tr>
                                        <th><span>Time</span></th>
                                        <th><span>Query</span></th>
                                        <th><span>Map</span></th>
                                    </tr>
                                    </thead>
                                    <tbody id="modal-searches"></tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-6" style=" overflow-y: scroll; max-height: 350px;" id="search-result-section">
                            <div class="panel-group" style="margin: 0;"><div id="item-fixed" style="display: none; padding-right: 0;" class="panel panel-default"></div></div>
                            <div class="panel-group" id="modal-searches-result" role="tablist" aria-multiselectable="true"></div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div id="modal-info">
                        <div id="tab-locations-info" style="display: none; float: left; padding: 7px;">
                            <div id='invalidToggle' class='toggle toggle-light' style='float: left; margin-top: 1px;'></div>
                            <span style='float: left; margin-left: 10px;'></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="user-update">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" tabindex="-1" id="edit-selectable-modal" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span id="edit-selectable-modal-title"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="radio">
                        <label>
                            <input type="radio" name="user-type" id="user-standard" value="Standard" checked>
                            Standard User
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="user-type" id="user-internal" value="Internal">
                            Internal User
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="user-type" id="user-premium" value="Premium" disabled>
                            Premium User
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" id="edit-selectable-modal-undo">Undo</button>
                    <button type="button" class="btn btn-success" id="edit-selectable-modal-save">Change</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}