



<div class="row" id="modules" data-module-render-url="{{ path('render_module', {'id': 'module_id'}) }}">
{% for module in modules %}


    <div id="renderModule-{{ module.id }}"></div>


{% endfor %}
</div>
