{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}VDP{{ version }} Dashboard{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 50px;">

        <h1>Welcome back {{ vasterUser.firstname }}</h1>


        {% if noPage == true %}
            You have not added any pages yet! :(
        {% else %}
            {{ page.name }}
        {% endif %}
    </div>

{% endblock %}

